In [2]:
import numpy as np
import pandas as pd

In [3]:
parties_file = r"Native_parties.txt"
trans_file = r"Native_parties.csv"

In [16]:
parties_df = pd.read_csv(parties_file, sep=' ', skiprows=2, header=None)
parties_df = parties_df.iloc[:, [4, 5, 15, 16]].dropna()
parties_df.columns = ['party_id', 'party_name', 'locx', 'locy']

              party_id           party_name  locx  locy
0         p_main_party           Main_Party  17.0  52.5
2         p_temp_party        {!}temp_party   0.0   0.0
4       p_camp_bandits      {!}camp_bandits   1.0   1.0
6       p_temp_party_2      {!}temp_party_2   0.0   0.0
8    p_temp_casualties        {!}casualties   1.0   1.0
..                 ...                  ...   ...   ...
470       p_reserved_1  {!}last_spawn_point   0.0   0.0
472       p_reserved_2  {!}last_spawn_point   0.0   0.0
474       p_reserved_3  {!}last_spawn_point   0.0   0.0
476       p_reserved_4  {!}last_spawn_point   0.0   0.0
478       p_reserved_5  {!}last_spawn_point   0.0   0.0

[240 rows x 4 columns]

In [19]:
place = parties_df[parties_df['party_id'].str.match(r'p_(town|castle|village)_\d+')]
place

          party_id party_name   locx   locy
42        p_town_1    Sargoth  -17.6   79.7
44        p_town_2       Tihr  -53.5   78.4
46        p_town_3     Veluca  -57.4  -44.5
48        p_town_4       Suno  -70.0   15.4
50        p_town_5    Jelkala  -74.6  -79.7
..             ...        ...    ...    ...
392  p_village_106     Hawaha   10.3  -91.0
394  p_village_107     Unriya  156.6  -84.0
396  p_village_108    Mit_Nun   28.8 -107.3
398  p_village_109   Tilimsal   53.0 -114.5
400  p_village_110   Rushdigh   38.0 -104.0

[180 rows x 4 columns]

In [24]:
trans_df = pd.read_csv(trans_file, names=['party_id', 'name_shown'], skiprows=1, sep='|')
trans_df = trans_df[trans_df['party_id'].str.match(r'p_(town|castle|village)_\d+')]
trans_df

          party_id  name_shown
1         p_town_1      萨 哥 斯
2         p_town_2        提 哈
3         p_town_3      维 鲁 加
4         p_town_4        苏 诺
5         p_town_5    杰 尔 喀 拉
..             ...         ...
176  p_village_106      哈 瓦 哈
177  p_village_107      乌 丽 亚
178  p_village_108  米 特 · 努 恩
179  p_village_109    提 里 姆 萨
180  p_village_110    鲁 什 戴 尔

[180 rows x 2 columns]

In [25]:
place_with_name = pd.merge(parties_df, trans_df, on=['party_id'])
place_with_name

          party_id party_name   locx   locy  name_shown
0         p_town_1    Sargoth  -17.6   79.7      萨 哥 斯
1         p_town_2       Tihr  -53.5   78.4        提 哈
2         p_town_3     Veluca  -57.4  -44.5      维 鲁 加
3         p_town_4       Suno  -70.0   15.4        苏 诺
4         p_town_5    Jelkala  -74.6  -79.7    杰 尔 喀 拉
..             ...        ...    ...    ...         ...
175  p_village_106     Hawaha   10.3  -91.0      哈 瓦 哈
176  p_village_107     Unriya  156.6  -84.0      乌 丽 亚
177  p_village_108    Mit_Nun   28.8 -107.3  米 特 · 努 恩
178  p_village_109   Tilimsal   53.0 -114.5    提 里 姆 萨
179  p_village_110   Rushdigh   38.0 -104.0    鲁 什 戴 尔

[180 rows x 5 columns]